.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.mask {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.375);
  width: 100%;
  height: 120%;
  z-index: 99;
}

.eligible_count {
  position: fixed;
  right: 15px;
  top: 15px;
  background-color: rgb(255, 194, 82);
  padding: 10px;
  border-radius: 10px;
  outline: 1px solid grey;
  z-index: 9;
}

.eligible_count > b {
  pointer-events: none;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.eligible_count_note {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  top: 55px;
  right: 0;
  width: 250px;
  height: auto;
  opacity: 0;
  background-color: rgb(235, 235, 235);
  pointer-events: none;
  transition: opacity 0.3s;
  outline: 1px solid black;
  box-shadow: 5px 5px 8px;
}

.eligible_count:hover .eligible_count_note {
  opacity: 1;
  pointer-events: none;
}

.warning_prompt {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 12px;
  top: 40%;
  max-width: 65%;
  line-height: 1.5rem;
  background-color: whitesmoke;
  border-radius: 5px;
  outline: 1px solid black;
  pointer-events: none;
}

.warning_prompt > div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.confirm, .go_back {
  padding: 8px;
  border-radius: 5px;
  font-size: medium;
  outline: 1px solid black;
  border: none;
  pointer-events: all;
}

.confirm:hover, .go_back:hover {
  box-shadow: 3px 3px 5px grey;
}

.confirm {
  background-color: lightgreen;
  margin-right: 30px;
}
.go_back {
  background-color: red;
  margin-left: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: whitesmoke;
  background-color: transparent;
  padding: 12px;
  border-radius: 10px;
}

.headerfield {
  width: 6.5in;
  max-width: 85vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #DADCE0;
  border-top: 10px solid orange;
  transition: background-color 1s;
}

.headerfield label {
  font-size: xx-large;
  margin: 15px 20px;
}

.headerfield p,
.headerfield div {
  max-width: 90%;
 margin-left: 20px;
}

.headerfield ul {
  line-height: 1.5rem;
  max-width: 450px;
}

.field {
  width: 6.5in;
  max-width: 85vw;
  min-height: 95px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 10px 10px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #DADCE0;
  transition: background-color 1s;
  position: relative;
}

.field label {
  margin: 20px 15px;
  font-size: large;
}

.field > div {
  margin-left: 15px;
  max-width: 95%;
  font-size: medium;
}

.info {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.note {
  position: absolute;
  top: 48px;
  width: 6.2in;
  max-width: 75vw;
  height: auto;
  transform: translateX(-95%);
  background-color: rgb(241, 241, 241);
  border: 1px solid #caccd0;
  padding: 4px 24px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 10;
  outline: 1px solid gray;
}

.info:hover .note {
  opacity: 1;
}

.note::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 4px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid gray;
}

.note::after {
  content: "";
  position: absolute;
  top: -9px;
  right: 5px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid rgb(241, 241, 241);
}

.note2 {
  position: absolute;
  top: 48px;
  width: fit-content;
  height: auto;
  transform: translateX(-50%);
  background-color: rgb(241, 241, 241);
  border: 1px solid #caccd0;
  padding: 4px 24px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 10;
  outline: 1px solid gray;
}

.info:hover .note2 {
  opacity: 1;
}

.note2::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 30px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid gray;
}

.note2::after {
  content: "";
  position: absolute;
  right: 31px;
  top: -9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid rgb(241, 241, 241);
}

.video_display {
  display: flex;
  gap: 10px;
}

.video_display img {
  object-fit: cover;
  border-radius: 5px;
}

.video_origin {
  position: absolute;
  font-size: 0.8rem;
  bottom: -20px;
  right: 0;
}

.input {
  padding: 5px;
  margin: 20px 15px 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 50%;
  font-size: medium;
  background-color: #ffffff00;
  transition: border-color 0.4s;
}

.input:focus {
  border-color: orange;
  outline: none;
}

.submitButton {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: rgb(255, 94, 0);
}

.ineligible {
  background-color: rgb(255, 153, 153);
}

.warn {
  background-color: rgb(255, 246, 149);
}

.good {
  background-color: rgb(127, 255, 105);
}

.loading_icon {
  width: 20px;
  height: 20px;
  border: 3px solid #ddd;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
